/.idea/
/restapi/target/
/launcher/target/
/restapi/src/.openapi-generator/
/restapi/src/.openapi-generator-ignore
/restapi/restapi.iml
/restapi/src/README.md
/core/core.iml
/core/target/
/apidefinition/target/
/inmemorypersistence/inmemorypersistence.iml
/inmemorypersistence/target/maven-archiver/pom.properties
/inmemorypersistence/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/inmemorypersistence/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/inmemorypersistence/target/
/systest/target/
